{% extends "dashboard-main-base.html" %}
{% load static %}
{% block projectinfo %}
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">ACM Members Schema</div>
        <div class="panel-body">
          <p>The Following is the Datastore Schema for ACM Members</p>
        </div>

        <!-- Table -->
        <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered">
          <thead>
            <tr>
              <td>Field</td>
              <td>Description</td>    
              <td>Type</td>
              <td>Optional</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>first_name</td>
              <td>Member First Name</td>
              <td>string(20)</td>
              <td>No</td>
            </tr>
            <tr>
              <td>last_name</td>
              <td>Member Last Name</td>
              <td>string(20)</td>
              <td>No</td>
            </tr>
            <tr>
              <td>email</td>
              <td>Member Email</td>
              <td>email</td>
              <td>No</td>
            </tr>
            <tr>
              <td>uofl_user_id</td>
              <td>Member ulink id</td>
              <td>string(10)</td>
              <td>No</td>
            </tr>
            <tr>
              <td>join_date</td>
              <td>Date Member Joined Chapter</td>
              <td>date</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>paid</td>
              <td>Whether the Member has paid dues</td>
              <td>boolean</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>paid_amount</td>
              <td>Amount Member Paid</td>
              <td>integer</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>paid_date</td>
              <td>Date member Paid</td>
              <td>date</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>officer</td>
              <td>Whether the Member is a Chapter Officer</td>
              <td>boolean</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>officer_position</td>
              <td>Officer Position held by Member</td>
              <td>string(40)</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>personal_url</td>
              <td>Link to personal webspace of Member</td>
              <td>url</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>fun_fact</td>
              <td>Fun fact about Member</td>
              <td>text</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>favorite_color</td>
              <td>Member's favorite color. Preferably in HEX</td>
              <td>string(15)</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>favorite_shape</td>
              <td>Member's favorite shape</td>
              <td>string(20)</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>score</td>
              <td></td>
              <td>integer</td>
              <td>Yes</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
{% endblock %}
